body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: url(../pictures/back.png);
}

.text-logo {
  background: url(../pictures/back.png);
}

section {
  margin-left: 9%;
  margin-right: 9%;
  background: rgba(255, 255, 255, 1);
}

footer {
  border-top: 2px dotted rgba(160, 160, 160, 1);
  background: rgba(0, 0, 0, 1);
  background: -webkit-linear-gradient(rgba(91, 93, 96, 1), rgba(33, 33, 33, 1));
  background: -o-linear-gradient(rgba(91, 93, 96, 1), rgba(33, 33, 33, 1));
  background: -moz-linear-gradient(rgba(91, 93, 96, 1), rgba(33, 33, 33, 1));
  background: linear-gradient(rgba(91, 93, 96, 1), rgba(33, 33, 33, 1));
  color: rgba(255, 255, 255, 1);
}

span.paper-clip {
  background: none;
  height: 40px;
  width: 16px;
  border-radius: 8px;
  border-left: none;
  border-top: 3px solid;
  border-right: 3px solid;
  display: inline-block;
  position: absolute;
  margin-top: -15px;
  margin-left: 18px;
  transform: rotate(-20deg);
  z-index: 5;

  &::after {
    width: 10px;
    height: 28px;
    content: " ";
    background: none;
    display: block;
    position: absolute;
    right: 0px;
    top: 6px;
    border-radius: 10px;
    border: 3px solid;
    border-right: none;
    border-bottom-right-radius: 0;
  }

  &::before {
    width: 18px;
    height: 15px;
    content: " ";
    background: none;
    display: block;
    position: absolute;
    right: -3px;
    top: -3px;
    border-left: 3px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.sub-menu li {
  color: rgba(255, 255, 255, 1);
}

ul li {
  color: rgba(255, 255, 255, 1);

  &:hover, a:hover {
    color: rgba(246, 206, 73, 1);
    cursor: pointer;
  }
}

#sticky {
  float: right;
}

.navigation ul li {
  margin-left: 5%;
}

.header-navigation {
  background: rgba(0, 0, 0, 1);
  background: -webkit-linear-gradient(rgba(63, 66, 70, 1), rgba(3, 3, 3, 1));
  background: -o-linear-gradient(rgba(63, 66, 70, 1), rgba(3, 3, 3, 1));
  background: linear-gradient(rgba(63, 66, 70, 1), rgba(3, 3, 3, 1));
  border-bottom: 1px dotted rgba(173, 167, 177, 1);
  color: rgba(255, 255, 255, 1);
  height: 10%;
  border-radius: 0;
}

.navigation-flip {
  margin-right: 9%;
}

.section-navigation {
  width: 50%;
}

.my-golf {
  position: relative;
  color: rgba(85, 150, 217, 1);
  font-family: Arial;

  &::after {
    content: 'GOLF';
    color: rgba(5, 70, 138, 1);
    position: absolute;
    left: 0;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(80%, rgba(5, 70, 138, 1)), to(rgba(255, 255, 255, 0.1)));
  }
}

.my-h5 {
  position: relative;
  font-family: Arial;
  font-style: italic;

  &::after {
    content: 'your';
    color: rgba(99, 101, 103, 1);
    position: absolute;
    left: 0;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), color-stop(10%, rgba(148, 150, 152, 1)), to(rgba(255, 255, 255, 0)));
  }
}

.navigation {
  border-top: 1px rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 1);
  background: -webkit-linear-gradient(rgba(90, 90, 90, 1), rgba(37, 37, 37, 1));
  background: -o-linear-gradient(rgba(90, 90, 90, 1), rgba(37, 37, 37, 1));
  background: -moz-linear-gradient(rgba(90, 90, 90, 1), rgba(37, 37, 37, 1));
  background: linear-gradient(rgba(90, 90, 90, 1), rgba(37, 37, 37, 1));
  color: rgba(255, 255, 255, 1);
  height: 22px;
}

.top-panel-box {
  margin: 0;
}

.my-slider {
  background: rgba(231, 231, 231, 1);
}

.slider-left {
  margin: 3% 0 0 0;
  padding: 7% 1% 0 5%;
  border-right: 1px solid rgba(255, 255, 255, 1);
}

.slider-right {
  width: 80%;
  margin: 10% 0 0 10%;
}

.h2-slider {
  font-family: "MyriadPro-Regular";
}

.box-preview-first, .box-preview-second, .box-preview-third {
  padding: 0 3% 0 3%;
}

.box-green, .box-blue, .box-orange {
  border-radius: 7px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.box-green {
  box-shadow: 0px 5px 0px rgba(151, 202, 18, 1);
  background: repeating-linear-gradient(135deg, rgba(169, 214, 38, 1), rgba(169, 214, 38, 1) 1px, rgba(178, 223, 46, 1) 2px, rgba(178, 223, 46, 1) 4px);
}

.box-blue {
  box-shadow: 0px 5px 0px rgba(27, 114, 178, 1);
  background: repeating-linear-gradient(135deg, rgba(46, 131, 224, 1), rgba(46, 131, 224, 1) 1px, rgba(38, 125, 225, 1) 2px, rgba(38, 125, 225, 1) 4px);
}

.box-orange {
  box-shadow: 0px 5px 0px rgba(207, 92, 2, 1);
  background: repeating-linear-gradient(135deg, rgba(247, 102, 27, 1), rgba(247, 102, 27, 1) 1px, rgba(255, 110, 34, 1) 2px, rgba(255, 110, 34, 1) 4px);
}

.box-green .clip-green {
  border-color: rgba(154, 202, 102, 1);

  &::after, &::before {
    border-color: rgba(154, 202, 102, 1);
  }
}

.box-blue .clip-blue {
  border-color: rgba(51, 135, 225, 1);

  &::after, &::before {
    border-color: rgba(51, 135, 225, 1);
  }
}

.box-orange .clip-orange {
  border-color: rgba(247, 101, 19, 1);

  &::after, &::before {
    border-color: rgba(247, 101, 19, 1);
  }
}

.h-green, .h-blue, .h-orange {
  font-family: Calibri;
  font-weight: bold;
}

.preview-content-green, .preview-content-blue, .preview-content-orange {
  width: 60%;
  float: right;
  margin: 7% 0 0 0;
}

.pic-preview-green, .pic-preview-blue, .pic-preview-orange {
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-15deg);
  width: 35%;
  border: 2px solid rgba(208, 208, 208, 1);
}

.h4-tournament {
  &:after {
    content: "";
    position: absolute;
    height: 70%;
    left: 0px;
    right: 0px;
    top: 90%;
    background-color: rgba(56, 56, 56, 1);
    border-top-left-radius: 50% 70px;
    box-shadow: 0px 0px 0px 10px rgba(96, 96, 96, 1);
    clip: rect(0px, 0.6em, 0.6em, 0px);
  }

  background: rgba(96, 96, 96, 1);
  background: -webkit-linear-gradient(rgba(136, 139, 141, 1), rgba(96, 96, 96, 1));
  background: -o-linear-gradient(rgba(136, 139, 141, 1), rgba(96, 96, 96, 1));
  background: -moz-linear-gradient(rgba(136, 139, 141, 1), rgba(96, 96, 96, 1));
  background: linear-gradient(rgba(136, 139, 141, 1), rgba(96, 96, 96, 1));
  border-radius: 3px;
  width: 31%;
  color: rgba(255, 255, 255, 1);
  padding-left: 4%;
  margin-left: -1%;
  font-family: Calibri;
  position: relative;
}

.before-footer {
  margin-bottom: 3%;
  height: 60px;
}

.logo-top {
  height: 80px;
  padding-left: 5%;
}

.logo-footer {
  width: 20%;
  margin-top: 8%;
}

.my-manager {
  position: relative;
  font-family: Arial;
  font-style: italic;

  &::after {
    content: 'manager';
    color: rgba(152, 154, 156, 1);
    position: absolute;
    left: 0;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), color-stop(10%, rgba(93, 95, 97, 1)), to(rgba(255, 255, 255, 0)));
  }
}

.panel-info {
  margin: 3% 0 7% 0;
  font-family: Arial;
  position: static;
}

.panel-bottom-first, .panel-bottom-second, .panel-bottom-third {
  border-right: 1px solid rgba(215, 215, 215, 1);
}

.panel-bottom-first, .panel-bottom-second, .panel-bottom-third, .panel-bottom-last {
  height: 50%;
}

.uk-coment-meta {
  height: 20px;
}

.slider-text, .uk-text-top, ul li {
  font-family: Calibri;
}

.small-text {
  font-family: "Arial Regular";
}

.uk-h1, .hr-top {
  margin: 0;
}

.uk-h3 {
  margin: -3% 0 0 15%;
}

.hr-top {
  padding: 0;
  color: rgba(255, 255, 255, 1);
  height: 1px;
}

.uk-navbar-toggle {
  color: rgba(255, 255, 255, 1);

  &:hover {
    color: rgba(246, 206, 73, 1);
  }
}

.uk-dotnav li a {
  width: 10px;
  height: 10px;

  &:hover {
    background-color: rgba(246, 206, 73, 1);
  }
}

.hr-bottom {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 1);
  height: 2px;
}

.uk-navbar-nav li a, .uk-nav-offcanvas li a {
  padding: 0;
  color: rgba(255, 255, 255, 1);
  line-height: 20px;
  font-family: Calibri;
  height: 20px;
}

.section-navigation li a:hover, .uk-nav-offcanvas li a:hover {
  background: none;
  color: rgba(246, 206, 73, 1);
}

.devider:hover {
  color: rgba(255, 255, 255, 1);
  cursor: default;
}

.uk-container {
  padding: 0;
}

.uk-navbar {
  li {
    ul {
      li {
        list-style-type: none;
        text-align: left;
        padding-left: 22%;
        background: rgba(50, 50, 50, 1);
        width: 120%;
      }

      position: absolute;
      top: 30px;
      left: -30%;
      visibility: hidden;
      padding: 0;
    }

    &:hover ul {
      visibility: visible;
    }
  }

  ul li ul:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(50, 50, 50, 1) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -10px;
    left: 15%;
  }
}

.uk-grid {
  width: 100%;
  margin: 0;
  padding: 0;
}

.uk-width-1-6, .uk-width-5-6, .uk-width-large-1-2 {
  padding: 0;
}

.uk-width-small-4-10 {
  padding: 0 0 0 10px;

  img {
    width: 90%;
    padding: 0;
    margin-top: 7px;
    border: 5px solid rgba(79, 79, 79, 1);
  }
}

.uk-width-small-1-1 {
  padding-left: 1%;
}

.uk-width-small-5-10 {
  padding-left: 1%;

  .uk-panel-box {
    padding: 0 0;
  }
}

.uk-width-small-1-1, .uk-width-large-1-2 {
  margin: 7px 0 7px 0;
}

.uk-button {
  margin: 0 5% 5% 0;
  border-radius: 5px;
  border-bottom: 2px solid rgba(113, 170, 230, 1);
  box-shadow: 0px 3px 0px rgba(21, 117, 216, 1);
  line-height: 0;
  font-size: 1em;
  font-family: Calibri;
  font-weight: bold;
}

.three-virgins {
  padding-left: 2%;
}

.small-paper-text {
  font-family: Calibri;
}

.uk-h5 {
  margin: 0;
}

.uk-width-large-1-4 {
  padding-left: 0;
}

.uk-panel-box, .slider-right {
  background: none;
}

.uk-icon-large {
  width: 33px;
  height: 41px;
}

.uk-width-large-5-10 {
  padding-left: 3%;
}

.uk-width-small-5-10 .uk-link {
  color: rgba(64, 150, 238, 1);
}

.uk-grid .uk-width-large-1-1 {
  margin-top: 3%;
  margin-bottom: 3%;
}

.uk-width-large-1-4 {
  padding-left: 3%;
}

.uk-text-small, .uk-text-bold {
  font-family: Calibri;
}

.uk-link {
  color: rgba(47, 47, 47, 1);
  font-family: Calibri;

  &:hover {
    color: rgba(92, 166, 241, 1);
    text-decoration: none;
  }
}

.uk-text-top {
  margin-left: 5%;
}

.uk-comment-meta {
  font-family: Calibri;
  color: rgba(0, 0, 0, 1);
}

.uk-sticky-placeholder {
  width: 50px;
}

.uk-icon-tumblr {
  color: rgba(17, 224, 232, 1);
}

.uk-icon-facebook-f {
  color: rgba(6, 63, 177, 1);
}

.uk-icon-linkedin-square {
  color: rgba(7, 149, 190, 1);
}

.uk-icon-youtube {
  color: rgba(246, 0, 0, 1);
}

.footer-content {
  h6 {
    color: rgba(255, 255, 255, 1);
    font-family: Calibri;
  }

  margin: 2% 9% 0 7%;

  h5 {
    color: rgba(246, 206, 73, 1);
    font-family: Calibri;
  }

  .uk-grid-divider {
    margin: 0;
    border-color: rgba(125, 127, 129, 1);
  }
}

.uk-text-middle {
  font-family: Arial;
}

.footer-content ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  font-size: 0.9em;
}

.head-comment {
  margin: 0;
}

.uk-grid, .uk-width-medium-1-2 {
  margin: 0;
  padding: 0;
}

.my-list {
  li {
    border-bottom: 1px solid rgba(162, 162, 162, 1);
    list-style: none;
    height: 40px;
    margin-top: 15px;
    color: rgba(70, 70, 70, 1);
    font-family: Arial;
  }

  padding: 0;
  text-align: center;
  color: rgba(70, 70, 70, 1);
  font-family: Arial;
}

.uk-box {
  padding: 0;
  text-align: center;
  color: rgba(70, 70, 70, 1);
  font-family: Arial;
  height: 79.2px;
}

.uk-panel-title {
  padding-left: 2%;
}

.uk-icon-check {
  color: rgba(76, 134, 0, 1);
}

.uk-icon-close {
  color: rgba(181, 5, 11, 1);
}

.before-arrow {
  width: 0.5%;
  height: 26px;
  display: inline-block;
  background: rgba(226, 226, 226, 1);
  box-shadow: 3px 0 1px rgba(170, 170, 170, 1);
  margin-right: -3px;
  margin-bottom: -2px;
}

.arrow-body {
  width: 15%;
  height: 12px;
  display: inline-block;
  margin-right: -8px;
  margin-bottom: 4px;
  background: rgba(102, 102, 102, 1);
  box-shadow: 1px 2px rgba(162, 162, 162, 1);
}

.arrow-head {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid rgba(102, 102, 102, 1);
  border-bottom: 10px solid transparent;
  box-shadow: 10px 20px 0 0 rgba(162, 162, 162, 1) inset;
  -moz-box-shadow: 10px 20px 0 0 rgba(162, 162, 162, 1) inset;
  -webkit-box-shadow: 10px 20px 0 0 rgba(162, 162, 162, 1) inset;
}

.colon-one {
  color: rgba(70, 70, 70, 1);
  background: rgba(203, 203, 203, 1);
  border-bottom-left-radius: 10px;
}

.panel-offert {
  padding: 0 3% 0 3%;
}

.head-box {
  background: rgba(105, 105, 105, 1);
  background: -webkit-linear-gradient(rgba(162, 162, 162, 1), rgba(105, 105, 105, 1));
  background: -o-linear-gradient(rgba(162, 162, 162, 1), rgba(105, 105, 105, 1));
  background: -moz-linear-gradient(rgba(162, 162, 162, 1), rgba(105, 105, 105, 1));
  background: linear-gradient(rgba(162, 162, 162, 1), rgba(105, 105, 105, 1));
}

.silver:hover, .gold:hover, .premium:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
  background: white;
  border-radius: 10px;
}

.silver:hover li, .gold:hover li, .premium:hover li {
  border-bottom: 1px solid rgba(218, 218, 218, 1);
}

.silver, .gold, .premium {
  background: rgba(224, 224, 224, 1);
}

.silver:hover .my-button, .gold:hover .my-button, .premium:hover .my-button {
  background: rgba(250, 64, 36, 1);
  background: -webkit-linear-gradient(rgba(250, 64, 36, 1), rgba(163, 40, 29, 1));
  background: -o-linear-gradient(rgba(250, 64, 36, 1), rgba(163, 40, 29, 1));
  background: -moz-linear-gradient(rgba(250, 64, 36, 1), rgba(163, 40, 29, 1));
  background: linear-gradient(rgba(250, 64, 36, 1), rgba(163, 40, 29, 1));
  box-shadow: 0 2px 0 rgba(166, 68, 59, 1);
}

.silver:hover .silver-box, .gold:hover .gold-box, .premium:hover .premium-box {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background: rgba(25, 115, 15, 1);
  background: -webkit-linear-gradient(rgba(93, 179, 67, 1), rgba(25, 115, 15, 1));
  background: -o-linear-gradient(rgba(93, 179, 67, 1), rgba(25, 115, 15, 1));
  background: -moz-linear-gradient(rgba(93, 179, 67, 1), rgba(25, 115, 15, 1));
  background: linear-gradient(rgba(93, 179, 67, 1), rgba(25, 115, 15, 1));
}

.silver:hover .my-left, .premium:hover .my-left, .gold:hover .my-left, .silver:hover .my-right, .premium:hover .my-right, .gold:hover .my-right {
  display: block;
}

.silver-box, .gold-box, .premium-box {
  background: rgba(34, 83, 139, 1);
  background: -webkit-linear-gradient(rgba(34, 83, 139, 1), rgba(74, 118, 163, 1));
  background: -o-linear-gradient(rgba(34, 83, 139, 1), rgba(74, 118, 163, 1));
  background: -moz-linear-gradient(rgba(34, 83, 139, 1), rgba(74, 118, 163, 1));
  background: linear-gradient(rgba(34, 83, 139, 1), rgba(74, 118, 163, 1));
}

.head-box h2 {
  color: rgba(224, 224, 224, 1);
}

.my-button {
  border-radius: 20px;
  color: rgba(255, 255, 255, 1);
  background: rgba(57, 57, 57, 1);
  background: -webkit-linear-gradient(rgba(104, 104, 104, 1), rgba(57, 57, 57, 1));
  background: -o-linear-gradient(rgba(104, 104, 104, 1), rgba(57, 57, 57, 1));
  background: -moz-linear-gradient(rgba(104, 104, 104, 1), rgba(57, 57, 57, 1));
  background: linear-gradient(rgba(104, 104, 104, 1), rgba(57, 57, 57, 1));
  border: none;
  margin-right: 0;
  box-shadow: 0px 2px 0px rgba(76, 76, 76, 1);
  font-family: Arial;
}

.fl-box {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  font-family: Arial;
}

.my-left {
  background: -webkit-linear-gradient(to right top, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 2%, rgba(43, 132, 29, 1) 50%);
  background: -o-linear-gradient(to right top, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 2%, rgba(43, 132, 29, 1) 50%);
  background: -moz-linear-gradient(to right top, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 2%, rgba(43, 132, 29, 1) 50%);
  background: linear-gradient(to right top, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 2%, rgba(43, 132, 29, 1) 50%);
  display: none;
  padding-bottom: 1px;
}

.my-right {
  background: -webkit-linear-gradient(to left top, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 2%, rgba(43, 132, 29, 1) 50%);
  background: -o-linear-gradient(to left top, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 2%, rgba(43, 132, 29, 1) 50%);
  background: -moz-linear-gradient(to left top, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 2%, rgba(43, 132, 29, 1) 50%);
  background: linear-gradient(to left top, rgba(255, 255, 255, 1) 48%, rgba(255, 255, 255, 1) 2%, rgba(43, 132, 29, 1) 50%);
  display: none;
}

.uk-icon-arrow-right {
  color: rgba(102, 102, 102, 1);
  position: relative;
  text-shadow: 1px 2px rgba(162, 162, 162, 1);
}

.h3-silver, .h3-gold, .h3-premium {
  padding: 3% 0 0 0;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  font-family: Arial;
}

.uk-icon-dollar {
  background: none;
  vertical-align: top;
  padding: 0;
}

.preview-box h2 {
  margin: 0;
}

.silver, .colon-one, .head-box {
  border-top-left-radius: 10px;
}

.premium, .premium-box {
  border-top-right-radius: 10px;
}

.premium {
  border-bottom-right-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .silver, .colon-one, .head-box {
    border-top-right-radius: 10px;
  }

  .h3-silver, .h3-gold, .h3-premium {
    font-size: 14px;
  }

  .box-preview-first, .box-preview-second, .box-preview-third {
    margin: 15px 0 15px 0;
    border-right: none;
  }

  .my-br {
    display: none;
  }

  .my-tag {
    font-size: 18px;
  }

  .my-left, .my-right {
    padding-bottom: 2px;
  }

  section div.uk-navbar {
    height: 35px;
  }

  .small-tetx {
    left: 10%;
  }

  .before-footer {
    height: 90px;
  }

  .panel-bottom-first, .panel-bottom-third {
    border-right: 1px solid rgba(215, 215, 215, 1);
  }

  .panel-bottom-second {
    border: none;
  }

  .logo-footer {
    width: 15%;
  }

  .slider-left {
    border-right: none;
  }

  .small-paper-text {
    font-size: 0.8em;
  }

  .uk-h5 {
    font-size: 0.9em;
  }

  .uk-text-small {
    font-size: 1em;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .before-footer {
    height: 90px;
  }

  .colon-one {
    border-bottom-left-radius: 0;
  }

  .premium {
    border-bottom-left-radius: 10px;
  }

  .box-preview-first, .box-preview-second, .box-preview-third {
    margin: 15px 0 15px 0;
    border-right: none;
  }

  .uk-offcanvas-bar {
    width: 140px;
  }

  .small-text {
    left: 14%;
  }

  .small-paper-text {
    font-size: 0.7em;
  }

  .uk-h5 {
    font-size: 0.8em;
  }

  .navigation {
    height: 35px;
  }

  .silver, .colon-one, .head-box {
    border-top-right-radius: 10px;
  }

  .colon-one {
    border-bottom-left-radius: 0;
  }

  .premium {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-top-right-radius: 0;
  }

  .premium-box {
    border-top-right-radius: 0;
    border-top-right-radius: 0;
  }

  .my-br {
    display: none;
  }

  .my-text {
    float: right;
    margin-right: 5%;
  }

  .uk-float-left {
    margin-left: 5%;
  }

  .panel-bottom-first, .panel-bottom-second, .panel-bottom-third {
    height: 45px;
  }

  .panel-bottom-second {
    border-right: none;
  }
}

@media only screen and (max-width: 479px) {
  .before-footer {
    height: 180px;
  }

  .my-button {
    font-size: 1em;
  }

  .silver, .colon-one, .head-box {
    border-top-right-radius: 10px;
  }

  .colon-one {
    border-bottom-left-radius: 0;
  }

  .panel-bottom-first, .panel-bottom-second, .panel-bottom-third {
    border: none;
  }

  .panel-bottom-first, .panel-bottom-second, .panel-bottom-third, .panel-bottom-last {
    height: 45px;
  }

  .slider-right {
    margin: 0;
    padding: 0 0 0 10%;
  }

  .premium {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-top-right-radius: 0;
  }

  .premium-box {
    border-top-right-radius: 0;
    border-top-right-radius: 0;
  }

  .box-preview-first, .box-preview-second, .box-preview-third {
    margin: 5px 0 5px 0;
    border-right: none;
  }

  .uk-offcanvas-bar {
    width: 100px;
  }

  .my-text {
    float: right;
    margin-right: 5%;
  }

  .uk-float-left {
    margin-left: 5%;
  }

  .h4-tournament {
    width: 90px;
  }

  .slider-left {
    border-right: none;
  }

  section div {
    &.uk-navbar {
      height: 35px;
    }

    .logo-top {
      max-width: 80px;
      width: 35px;
    }
  }

  .small-paper-text {
    font-size: 0.8em;
  }

  .uk-h5 {
    font-size: 1.2em;
    margin-top: 5%;
  }

  .uk-sticky-placeholder {
    display: none;
  }

  .uk-text-small {
    font-size: 1em;
  }

  .small-text {
    left: 23%;
  }
}
