<!DOCTYPE html>
<html>
  <head>
    <title>Online-Clothes-shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/css/style.css">
    <link rel="stylesheet" href="/styles/css/css/uikit.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <header>
      <div class="uk-grid">
        <div class="uk-width-4-10">
          <h1 class="uk-h1">Online-Shop</h1>
        </div>
        <div class="uk-width-2-10">
          <div class="uk-panel-box">
            <a href="/category?name=Mens">Mens</a>
          </div>
        </div>
        <div class="uk-width-2-10">
          <div class="uk-panel-box">
            <a href="/category?name=Womens">Womans</a> 
          </div>
        </div>
      </div>
    </header>
    <%- body %>
    <footer>
      <div>Some basic text from my footer</div>
    </footer>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/uikit-js/uikit.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
