<section>
  <div class="uk-container">
    <div class="uk-panel-box maincat">
      <!-- The main Category-->
      <% var cat = categories %>
      <% for(var i=0;i<cat.length;i++){ %>
      <ul class="my-list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>/</li>
        <li>
          <a href="/category?name=<%= cat[i].name %>">
            <%= cat[i].name %>
          </a>
        </li>
        <li>/</li>
        <li class="listItem"></li>
      </ul>
        <h2 class="uk-h2">
          <%= cat[i].name %>
        </h2>
          <h4 class="uk-h4">
            <%= cat[i].page_description %>    
          </h4> 
    </div>
    <!-- SubCategory -->
      <% for(var sCat=0;sCat< cat[i].categories.length;sCat++){ %>
      <% var subCat = cat[i].categories[sCat] %>
      <div class="uk-panel-box subcat">
        <h3 class="uk-h3">
          <%= subCat.name %>
        </h3>
        <img src="images/<%= subCat.image %>">
        <h4 class="uk-h4">
          <%= subCat.page_description %>
        </h4> 
        <span>
          <%= subCat.page_title %>
        </span><br>
        <button class="uk-button-success mybutton" id="<%= subCat.name%>">
          View Sub-Category
        </button>
    </div>
    <div class="uk-panel-box subart" id="<%=subCat.name%>">  
      <!--    THE LAST LOOP              -->
      <% var subArt = categories[i].categories[sCat].categories %>
      <% for(var sArt=0;sArt<subArt.length;sArt++){ %>
      <h3 class="uk-h3"> <%= subArt[sArt].name %> </h3>
      <span> <%= subArt[sArt].page_description %> </span><br>   
      <a href="products/show?primary_category_id=<%=subArt[sArt].id%>&sub_name=<%=subArt[sArt].name%>">View Products</a>
      <% } %>    
      <!--    END THE LAST LOOP    -->
    </div> 
    <% } %>
  <% } %> 
  </div><!-- end uk-container -->
</section>