<section>
  <div class="uk-grid">
    <div class="uk-width-1-1">
      <ul class="my-list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>/</li>
        <li>
          <%= params %>
        </li>
      </ul>
    </div>
    <% for(var i=0;i<products.length;i++){ %>
      <div class="uk-width-1-2 products"> 
        <div class="uk-grid">
          <div class="uk-width-1-2">
            <h3 class="uk-h3">
              <%= products[i].name %>    
            </h3>
            <% var img %>
            <% for(var fImg=0;fImg<products[i].image_groups.length;fImg++){ 
                  var subCat = products[i].image_groups[fImg]
                    if(subCat.view_type=='medium'|| subCat.variation_value=='undefined'){ 
                    img = subCat.images[0].link 
                 }
              } 
            %>
            <img src="../images/<%=img%>" alt="">
          </div>
          <div class="uk-width-1-2">  
            <div class="uk-block">
              <h4 class="uk-h4">
                <%= products[i].short_description %>
              </h4> 
              <span>Price:&nbsp;
                <%= products[i].currency %>&nbsp;&nbsp;
                <%= products[i].price %>
              </span>
              <a href="/products/info?name=<%=products[i].name%>&sub_name=<%= params%>">More Info</a>
            </div>
          </div>  
        </div>
      </div> 
    <% } %>                                                              
  </div>
</section>