<section>
  <div class="uk-grid">
  <% for(var i=0;i<product.length;i++){ %>
    <div class="uk-width-1-1">
      <ul class="my-list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>/</li>
        <li>
          <%= params %>
        </li>
        <li>/</li>
        <li><%= product[i].name %></li>
      </ul>
    </div>
    <!-- get all info from product in DB-->
    <div class="uk-width-1-2">
      <% var img %>
      <% for(var prod=0;prod<product[i].image_groups.length;prod++){ 
        var subCat = product[i].image_groups[prod]
          if(subCat.view_type=='large'|| subCat.variation_value=='undefined'){ 
          img = subCat.images[0].link 
        }
      } 
      %>
      <img src="../images/<%= img %>" alt="">
    </div>
    <div class="uk-width-1-2">
      <div class="uk-panel-box">
        <h2 class="uk-h2">
          <%= product[i].name %>
        </h2>
        <p>
          <%= product[i].page_description %>
          <%= product[i].short_description %>
        </p>
        <button class="uk-button-primary">Buy Now</button>
          <span> Price:&nbsp;</span>
          <span class="price"><%= newPrice %></span>
        <select class="currency">
          <%for(var cur=0;cur<currencies.length;cur++){ %>
          <% var crs %>
            <%for(var allCur=0;allCur<currencies[cur].allcurrency.length;allCur++){ %>
            <% crs=currencies[cur].allcurrency[allCur].name %>
              <option value="<%= crs %>"><%= crs %></option>
            <% } %>
          <% } %>
        </select>
      </div>
    </div>
    <% } %>
  </div>
</section>