<section>
  <div class="uk-grid">
    <div class="uk-width-1-1">
      <ul class="my-list">
        <li>
          <a href="/">Home</a>
        </li>
        <li>/</li>
        <li>
          <%= params %>
        </li>
      </ul>
    </div>
    <% for(var i=0;i<products.length;i++){ %>
      <div class="uk-width-1-2"> 
        <h2 class="uk-h2">
          <%= products[i].name %>    
        </h2>
        <% for(var ii=0;ii<products[i].image_groups.length;ii++) {%>
          
          <% if(products[i].image_groups[ii].view_type =='medium' || 
          products[i].image_groups[ii].variation_value =='undefined'){ %>

          <% var result = products[i].image_groups[ii].images[0].link %>

            
                <img src="../images/<%= result %>" alt="">
                
            
          <% } %>
              
        <% } %>
        <h4 class="uk-h4">
          <%= products[i].short_description %>
        </h4> 
        <span>Price:&nbsp;
          <%= products[i].currency %>&nbsp;&nbsp;
          <%= products[i].price %>
        </span>
        <a href="/products/info?name=<%=products[i].name%>&sub_name=<%= params%>">More Info</a>
      </div> 
    <% } %>                                                              
  </div>
</section>