<!DOCTYPE html>
<html>
  <head>
    <title>Online-Clothes-shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/css/css/components/accordion.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/accordion.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/accordion.css">
    <link rel="stylesheet" href="/styles/css/css/components/accordion.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/accordion.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/accordion.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/autocomplete.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/autocomplete.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/autocomplete.css">
    <link rel="stylesheet" href="/styles/css/css/components/autocomplete.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/autocomplete.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/autocomplete.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/datepicker.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/datepicker.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/datepicker.css">
    <link rel="stylesheet" href="/styles/css/css/components/datepicker.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/datepicker.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/datepicker.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/dotnav.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/dotnav.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/dotnav.css">
    <link rel="stylesheet" href="/styles/css/css/components/dotnav.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/dotnav.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/dotnav.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-advanced.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-advanced.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-advanced.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-advanced.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-advanced.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-advanced.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-file.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-file.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-file.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-file.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-file.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-file.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-password.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-password.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-password.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-password.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-password.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-password.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-select.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-select.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-select.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-select.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-select.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/form-select.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/htmleditor.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/htmleditor.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/htmleditor.css">
    <link rel="stylesheet" href="/styles/css/css/components/htmleditor.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/htmleditor.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/htmleditor.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/nestable.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/nestable.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/nestable.css">
    <link rel="stylesheet" href="/styles/css/css/components/nestable.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/nestable.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/nestable.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/notify.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/notify.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/notify.css">
    <link rel="stylesheet" href="/styles/css/css/components/notify.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/notify.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/notify.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/placeholder.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/placeholder.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/placeholder.css">
    <link rel="stylesheet" href="/styles/css/css/components/placeholder.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/placeholder.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/placeholder.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/progress.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/progress.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/progress.css">
    <link rel="stylesheet" href="/styles/css/css/components/progress.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/progress.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/progress.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/search.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/search.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/search.css">
    <link rel="stylesheet" href="/styles/css/css/components/search.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/search.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/search.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/slidenav.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/slidenav.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/slidenav.css">
    <link rel="stylesheet" href="/styles/css/css/components/slidenav.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/slidenav.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/slidenav.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/slider.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/slider.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/slider.css">
    <link rel="stylesheet" href="/styles/css/css/components/slider.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/slider.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/slider.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/slideshow.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/slideshow.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/slideshow.css">
    <link rel="stylesheet" href="/styles/css/css/components/slideshow.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/slideshow.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/slideshow.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/sortable.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/sortable.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/sortable.css">
    <link rel="stylesheet" href="/styles/css/css/components/sortable.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/sortable.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/sortable.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/sticky.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/sticky.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/sticky.css">
    <link rel="stylesheet" href="/styles/css/css/components/sticky.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/sticky.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/sticky.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/tooltip.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/tooltip.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/tooltip.css">
    <link rel="stylesheet" href="/styles/css/css/components/tooltip.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/tooltip.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/tooltip.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/upload.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/components/upload.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/upload.css">
    <link rel="stylesheet" href="/styles/css/css/components/upload.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/components/upload.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/components/upload.min.css">
    <link rel="stylesheet" href="/styles/css/css/uikit.almost-flat.css">
    <link rel="stylesheet" href="/styles/css/css/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="/styles/css/css/uikit.css">
    <link rel="stylesheet" href="/styles/css/css/uikit.gradient.css">
    <link rel="stylesheet" href="/styles/css/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/styles/css/css/uikit.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
      <header style="background:green;">
      <div class="uk-grid">
        <div class="uk-width-4-10">
          <h1 class="uk-h1"><a href="/">Clothes-Shop</a>    </h1>
        </div>
        <div class="uk-width-2-10">
          <div class="uk-panel-box">
          <!-- TODO show all clasess.It's better to use short JavaScript syntax! -->
            <a href="/products">Category 1</a>
          </div>
        </div>
        <div class="uk-width-2-10">
          <div class="uk-panel-box">
          <!-- TODO show all clasess.It's better to use short JavaScript syntax! -->
          <a href="/products/product-info">Category 2 </a> 
          </div>
        </div>
        <hr>
        <ul class="my-list">
          <li><a href="/">Home</a></li>
          /
          <li><a href="">Subcatecory Name</a></li>
          /
          <li><a href="">Product name</a></li>
        </ul>
      </div>
    </header>
    <%- body %>
    <footer style="background:green;color:black;">
        <div>Some basic text from my footer</div>
    </footer>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/uikit-js/components/accordion.js"></script>
    <script src="/js/uikit-js/components/accordion.min.js"></script>
    <script src="/js/uikit-js/components/autocomplete.js"></script>
    <script src="/js/uikit-js/components/autocomplete.min.js"></script>
    <script src="/js/uikit-js/components/datepicker.js"></script>
    <script src="/js/uikit-js/components/datepicker.min.js"></script>
    <script src="/js/uikit-js/components/form-password.js"></script>
    <script src="/js/uikit-js/components/form-password.min.js"></script>
    <script src="/js/uikit-js/components/form-select.js"></script>
    <script src="/js/uikit-js/components/form-select.min.js"></script>
    <script src="/js/uikit-js/components/grid-parallax.js"></script>
    <script src="/js/uikit-js/components/grid-parallax.min.js"></script>
    <script src="/js/uikit-js/components/grid.js"></script>
    <script src="/js/uikit-js/components/grid.min.js"></script>
    <script src="/js/uikit-js/components/htmleditor.js"></script>
    <script src="/js/uikit-js/components/htmleditor.min.js"></script>
    <script src="/js/uikit-js/components/lightbox.js"></script>
    <script src="/js/uikit-js/components/lightbox.min.js"></script>
    <script src="/js/uikit-js/components/nestable.js"></script>
    <script src="/js/uikit-js/components/nestable.min.js"></script>
    <script src="/js/uikit-js/components/notify.js"></script>
    <script src="/js/uikit-js/components/notify.min.js"></script>
    <script src="/js/uikit-js/components/pagination.js"></script>
    <script src="/js/uikit-js/components/pagination.min.js"></script>
    <script src="/js/uikit-js/components/parallax.js"></script>
    <script src="/js/uikit-js/components/parallax.min.js"></script>
    <script src="/js/uikit-js/components/search.js"></script>
    <script src="/js/uikit-js/components/search.min.js"></script>
    <script src="/js/uikit-js/components/slider.js"></script>
    <script src="/js/uikit-js/components/slider.min.js"></script>
    <script src="/js/uikit-js/components/slideset.js"></script>
    <script src="/js/uikit-js/components/slideset.min.js"></script>
    <script src="/js/uikit-js/components/slideshow-fx.js"></script>
    <script src="/js/uikit-js/components/slideshow-fx.min.js"></script>
    <script src="/js/uikit-js/components/slideshow.js"></script>
    <script src="/js/uikit-js/components/slideshow.min.js"></script>
    <script src="/js/uikit-js/components/sortable.js"></script>
    <script src="/js/uikit-js/components/sortable.min.js"></script>
    <script src="/js/uikit-js/components/sticky.js"></script>
    <script src="/js/uikit-js/components/sticky.min.js"></script>
    <script src="/js/uikit-js/components/timepicker.js"></script>
    <script src="/js/uikit-js/components/timepicker.min.js"></script>
    <script src="/js/uikit-js/components/tooltip.js"></script>
    <script src="/js/uikit-js/components/tooltip.min.js"></script>
    <script src="/js/uikit-js/components/upload.js"></script>
    <script src="/js/uikit-js/components/upload.min.js"></script>
    <script src="/js/uikit-js/core/alert.js"></script>
    <script src="/js/uikit-js/core/alert.min.js"></script>
    <script src="/js/uikit-js/core/button.js"></script>
    <script src="/js/uikit-js/core/button.min.js"></script>
    <script src="/js/uikit-js/core/core.js"></script>
    <script src="/js/uikit-js/core/core.min.js"></script>
    <script src="/js/uikit-js/core/cover.js"></script>
    <script src="/js/uikit-js/core/cover.min.js"></script>
    <script src="/js/uikit-js/core/dropdown.js"></script>
    <script src="/js/uikit-js/core/dropdown.min.js"></script>
    <script src="/js/uikit-js/core/grid.js"></script>
    <script src="/js/uikit-js/core/grid.min.js"></script>
    <script src="/js/uikit-js/core/modal.js"></script>
    <script src="/js/uikit-js/core/modal.min.js"></script>
    <script src="/js/uikit-js/core/nav.js"></script>
    <script src="/js/uikit-js/core/nav.min.js"></script>
    <script src="/js/uikit-js/core/offcanvas.js"></script>
    <script src="/js/uikit-js/core/offcanvas.min.js"></script>
    <script src="/js/uikit-js/core/scrollspy.js"></script>
    <script src="/js/uikit-js/core/scrollspy.min.js"></script>
    <script src="/js/uikit-js/core/smooth-scroll.js"></script>
    <script src="/js/uikit-js/core/smooth-scroll.min.js"></script>
    <script src="/js/uikit-js/core/switcher.js"></script>
    <script src="/js/uikit-js/core/switcher.min.js"></script>
    <script src="/js/uikit-js/core/tab.js"></script>
    <script src="/js/uikit-js/core/tab.min.js"></script>
    <script src="/js/uikit-js/core/toggle.js"></script>
    <script src="/js/uikit-js/core/toggle.min.js"></script>
    <script src="/js/uikit-js/core/touch.js"></script>
    <script src="/js/uikit-js/core/touch.min.js"></script>
    <script src="/js/uikit-js/core/utility.js"></script>
    <script src="/js/uikit-js/core/utility.min.js"></script>
    <script src="/js/uikit-js/uikit.js"></script>
    <script src="/js/uikit-js/uikit.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
