<section>
  <div class="uk-container">
  <div class="uk-panel-box">
  <!-- the text below I have to read from DB-->
    <h2 class="uk-h2">
      Main Category Name
    </h2>
    <p>
      <h4 class="uk-h4">Category Description</h4> 
      <span>
      here are many variations of passages of Lorem Ipsum available, but  the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
      </span>
    </p>
  </div>
   <div class="uk-panel">
   <!--info from all subcategories I have to read from DB-->
    <h4 class="uk-h4 uk-panel-title">
      SubCategoryName
    </h4>
    <img src="" alt=""><!--picture for each subcategory-->
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    <a href="">View SubCategory</a>
   </div>
  </div>
</section>