<section>
  <div class="uk-grid">
    <!-- get all info from product in DB-->
    <div class="uk-width-1-2">
      <img src="" alt="">
    </div>
    <div class="uk-width-1-2">
      <div class="uk-panel-box">
        <h5 class="uk-panel-title">
          Product Name
        </h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley 
        <!--span BuyNow should go left-->
        <span>Buy Now</span>
        <!--span price should go right -->
        <span>
          Price:123
          <ul>
            <li>USD</li>
            <li>CHF</li>
            <li>JPY</li>
            <li>BTC</li>
          </ul>
          </span>
      </div>
    </div>
  </div>
</section>