<section>
  <div class="uk-grid">
    <!-- Get all products form DB and show down here-->
    <div class="uk-width-1-2">
      <!-- I need loop all info and use short syntax javascript-->
      <div class="uk-grid">
        <h5 class="uk-h5">Product Name</h5>
        <div class="uk-width-1-2">
          <img src="" alt="">
        </div>
        <div class="uk-width-1-2">
          <div class="uk-panel">
            ontrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
            <!--span price should go left-->
            <span>Price: $123</span>
            <!--span more Info should go right -->
            <span>More Info</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>