html{
    height: 100%;
}
body{
    height: 100%; 
    margin:0;
    padding:0;
}

body { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5%;
    margin-left: 5%;
    height: 100%;
}
.row{
    height: 100%;
    width: 100%;
    padding-top: 5%;
}
user-form{
    padding: 2px;
}
input{
    width: 98%;
    margin-right: 2%;
}
fieldset{
    width: 100%;
    height: 100%;
}
#user-form  input{
    border: medium none;
    color: rgba(105, 103, 99, 1);
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
}
#name,#address,#email,#phone,#web{
    background: rgba(240, 240, 233, 1);
}
#submit,#find{
    background: rgba(254, 152, 15, 1); 
    border: medium none;
    border-radius: 0;
    color: rgba(255, 255, 255, 1);
    display: block;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    cursor: pointer;
}
#user-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
}
#user-form{
    height: 100%;
}
#location{
    float: left;
}
.colon-3,colon-6{
    margin-left: 3.33333333%;
}
.colon-3{
    float: left;
    width: 30%;
    height: 60%;
}
.colon-6{
    float: right;
    border: 2px solid rgba(173, 216, 230, 1);
}
#user-form{
    padding: 2px;
}
.error{
    color: rgba(255, 0, 0, 1);
}
