body {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background: url(../pictures/back.png); }

.text-logo {
  background: url(../pictures/back.png); }

section {
  margin-left: 9%;
  margin-right: 9%;
  background: white; }

footer {
  border-top: 2px dotted #a0a0a0;
  background: black;
  background: -webkit-linear-gradient(#5b5d60, #212121);
  background: -o-linear-gradient(#5b5d60, #212121);
  background: -moz-linear-gradient(#5b5d60, #212121);
  background: linear-gradient(#5b5d60, #212121);
  color: white; }

span.paper-clip {
  background: none;
  height: 40px;
  width: 16px;
  border-radius: 8px;
  border-left: none;
  border-top: 3px solid;
  border-right: 3px solid;
  display: inline-block;
  position: absolute;
  margin-top: -15px;
  margin-left: 18px;
  transform: rotate(-20deg);
  z-index: 5; }
  span.paper-clip::after {
    width: 10px;
    height: 28px;
    content: " ";
    background: none;
    display: block;
    position: absolute;
    right: 0px;
    top: 6px;
    border-radius: 10px;
    border: 3px solid;
    border-right: none;
    border-bottom-right-radius: 0; }
  span.paper-clip::before {
    width: 18px;
    height: 15px;
    content: " ";
    background: none;
    display: block;
    position: absolute;
    right: -3px;
    top: -3px;
    border-left: 3px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

.sub-menu li {
  color: white; }

ul li {
  color: white; }
  ul li:hover, ul li a:hover {
    color: #f6ce49;
    cursor: pointer; }

#sticky {
  float: right; }

.navigation ul li {
  margin-left: 5%; }

.header-navigation {
  background: black;
  background: -webkit-linear-gradient(#3f4246, #030303);
  background: -o-linear-gradient(#3f4246, #030303);
  background: linear-gradient(#3f4246, #030303);
  border-bottom: 1px dotted #ada7b1;
  color: white;
  height: 10%;
  border-radius: 0; }

.navigation-flip {
  margin-right: 9%; }

.section-navigation {
  width: 50%; }

.my-golf {
  position: relative;
  color: #5596d9;
  font-family: Arial; }
  .my-golf::after {
    content: 'GOLF';
    color: #05468a;
    position: absolute;
    left: 0;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, #05468a), to(rgba(255, 255, 255, 0.1))); }

.my-h5 {
  position: relative;
  font-family: Arial;
  font-style: italic; }
  .my-h5::after {
    content: 'your';
    color: #636567;
    position: absolute;
    left: 0;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(10%, #949698), to(rgba(255, 255, 255, 0))); }

.navigation {
  border-top: 1px white;
  background: black;
  background: -webkit-linear-gradient(#5a5a5a, #252525);
  background: -o-linear-gradient(#5a5a5a, #252525);
  background: -moz-linear-gradient(#5a5a5a, #252525);
  background: linear-gradient(#5a5a5a, #252525);
  color: white;
  height: 22px; }

.top-panel-box {
  margin: 0; }

.my-slider {
  background: #e7e7e7; }

.slider-left {
  margin: 3% 0 0 0;
  padding: 7% 1% 0 5%;
  border-right: 1px solid white; }

.slider-right {
  width: 80%;
  margin: 10% 0 0 10%; }

.h2-slider {
  font-family: "MyriadPro-Regular"; }

.box-preview-first, .box-preview-second, .box-preview-third {
  padding: 0 3% 0 3%; }

.box-green, .box-blue, .box-orange {
  border-radius: 7px;
  border-bottom: 1px solid white; }

.box-green {
  box-shadow: 0px 5px 0px #97ca12;
  background: repeating-linear-gradient(135deg, #a9d626, #a9d626 1px, #b2df2e 2px, #b2df2e 4px); }

.box-blue {
  box-shadow: 0px 5px 0px #1b72b2;
  background: repeating-linear-gradient(135deg, #2e83e0, #2e83e0 1px, #267de1 2px, #267de1 4px); }

.box-orange {
  box-shadow: 0px 5px 0px #cf5c02;
  background: repeating-linear-gradient(135deg, #f7661b, #f7661b 1px, #ff6e22 2px, #ff6e22 4px); }

.box-green .clip-green {
  border-color: #9aca66; }
  .box-green .clip-green::after, .box-green .clip-green::before {
    border-color: #9aca66; }

.box-blue .clip-blue {
  border-color: #3387e1; }
  .box-blue .clip-blue::after, .box-blue .clip-blue::before {
    border-color: #3387e1; }

.box-orange .clip-orange {
  border-color: #f76513; }
  .box-orange .clip-orange::after, .box-orange .clip-orange::before {
    border-color: #f76513; }

.h-green, .h-blue, .h-orange {
  font-family: Calibri;
  font-weight: bold; }

.preview-content-green, .preview-content-blue, .preview-content-orange {
  width: 60%;
  float: right;
  margin: 7% 0 0 0; }

.pic-preview-green, .pic-preview-blue, .pic-preview-orange {
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-15deg);
  width: 35%;
  border: 2px solid #d0d0d0; }

.h4-tournament {
  background: #606060;
  background: -webkit-linear-gradient(#888b8d, #606060);
  background: -o-linear-gradient(#888b8d, #606060);
  background: -moz-linear-gradient(#888b8d, #606060);
  background: linear-gradient(#888b8d, #606060);
  border-radius: 3px;
  width: 31%;
  color: white;
  padding-left: 4%;
  margin-left: -1%;
  font-family: Calibri;
  position: relative; }
  .h4-tournament:after {
    content: "";
    position: absolute;
    height: 70%;
    left: 0px;
    right: 0px;
    top: 90%;
    background-color: #383838;
    border-top-left-radius: 50% 70px;
    box-shadow: 0px 0px 0px 10px #606060;
    clip: rect(0px, 0.6em, 0.6em, 0px); }

.before-footer {
  margin-bottom: 3%;
  height: 60px; }

.logo-top {
  height: 80px;
  padding-left: 5%; }

.logo-footer {
  width: 20%;
  margin-top: 8%; }

.my-manager {
  position: relative;
  font-family: Arial;
  font-style: italic; }
  .my-manager::after {
    content: 'manager';
    color: #989a9c;
    position: absolute;
    left: 0;
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(10%, #5d5f61), to(rgba(255, 255, 255, 0))); }

.panel-info {
  margin: 3% 0 7% 0;
  font-family: Arial;
  position: static; }

.panel-bottom-first, .panel-bottom-second, .panel-bottom-third {
  border-right: 1px solid #d7d7d7; }

.panel-bottom-first, .panel-bottom-second, .panel-bottom-third, .panel-bottom-last {
  height: 50%; }

.uk-coment-meta {
  height: 20px; }

.slider-text, .uk-text-top, ul li {
  font-family: Calibri; }

.small-text {
  font-family: "Arial Regular"; }

.uk-h1, .hr-top {
  margin: 0; }

.uk-h3 {
  margin: -3% 0 0 15%; }

.hr-top {
  padding: 0;
  color: white;
  height: 1px; }

.uk-navbar-toggle {
  color: white; }
  .uk-navbar-toggle:hover {
    color: #f6ce49; }

.uk-dotnav li a {
  width: 10px;
  height: 10px; }
  .uk-dotnav li a:hover {
    background-color: #f6ce49; }

.hr-bottom {
  margin: 0;
  padding: 0;
  color: white;
  height: 2px; }

.uk-navbar-nav li a, .uk-nav-offcanvas li a {
  padding: 0;
  color: white;
  line-height: 20px;
  font-family: Calibri;
  height: 20px; }

.section-navigation li a:hover, .uk-nav-offcanvas li a:hover {
  background: none;
  color: #f6ce49; }

.devider:hover {
  color: white;
  cursor: default; }

.uk-container {
  padding: 0; }

.uk-navbar li ul {
  position: absolute;
  top: 30px;
  left: -30%;
  visibility: hidden;
  padding: 0; }
  .uk-navbar li ul li {
    list-style-type: none;
    text-align: left;
    padding-left: 22%;
    background: #323232;
    width: 120%; }
.uk-navbar li:hover ul {
  visibility: visible; }
.uk-navbar ul li ul:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #323232 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 15%; }

.uk-grid {
  width: 100%;
  margin: 0;
  padding: 0; }

.uk-width-1-6, .uk-width-5-6, .uk-width-large-1-2 {
  padding: 0; }

.uk-width-small-4-10 {
  padding: 0 0 0 10px; }
  .uk-width-small-4-10 img {
    width: 90%;
    padding: 0;
    margin-top: 7px;
    border: 5px solid #4f4f4f; }

.uk-width-small-1-1 {
  padding-left: 1%; }

.uk-width-small-5-10 {
  padding-left: 1%; }
  .uk-width-small-5-10 .uk-panel-box {
    padding: 0 0; }

.uk-width-small-1-1, .uk-width-large-1-2 {
  margin: 7px 0 7px 0; }

.uk-button {
  margin: 0 5% 5% 0;
  border-radius: 5px;
  border-bottom: 2px solid #71aae6;
  box-shadow: 0px 3px 0px #1575d8;
  line-height: 0;
  font-size: 1em;
  font-family: Calibri;
  font-weight: bold; }

.three-virgins {
  padding-left: 2%; }

.small-paper-text {
  font-family: Calibri; }

.uk-h5 {
  margin: 0; }

.uk-width-large-1-4 {
  padding-left: 0; }

.uk-panel-box, .slider-right {
  background: none; }

.uk-icon-large {
  width: 33px;
  height: 41px; }

.uk-width-large-5-10 {
  padding-left: 3%; }

.uk-width-small-5-10 .uk-link {
  color: #4096ee; }

.uk-grid .uk-width-large-1-1 {
  margin-top: 3%;
  margin-bottom: 3%; }

.uk-width-large-1-4 {
  padding-left: 3%; }

.uk-text-small, .uk-text-bold {
  font-family: Calibri; }

.uk-link {
  color: #2f2f2f;
  font-family: Calibri; }
  .uk-link:hover {
    color: #5ca6f1;
    text-decoration: none; }

.uk-text-top {
  margin-left: 5%; }

.uk-comment-meta {
  font-family: Calibri;
  color: black; }

.uk-sticky-placeholder {
  width: 50px; }

.uk-icon-tumblr {
  color: #11e0e8; }

.uk-icon-facebook-f {
  color: #063fb1; }

.uk-icon-linkedin-square {
  color: #0795be; }

.uk-icon-youtube {
  color: #f60000; }

.footer-content {
  margin: 2% 9% 0 7%; }
  .footer-content h6 {
    color: white;
    font-family: Calibri; }
  .footer-content h5 {
    color: #f6ce49;
    font-family: Calibri; }
  .footer-content .uk-grid-divider {
    margin: 0;
    border-color: #7d7f81; }

.uk-text-middle {
  font-family: Arial; }

.footer-content ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  font-size: 0.9em; }

.head-comment {
  margin: 0; }

.uk-grid, .uk-width-medium-1-2 {
  margin: 0;
  padding: 0; }

.my-list {
  padding: 0;
  text-align: center;
  color: #464646;
  font-family: Arial; }
  .my-list li {
    border-bottom: 1px solid #a2a2a2;
    list-style: none;
    height: 40px;
    margin-top: 15px;
    color: #464646;
    font-family: Arial; }

.uk-box {
  padding: 0;
  text-align: center;
  color: #464646;
  font-family: Arial;
  height: 79.2px; }

.uk-panel-title {
  padding-left: 2%; }

.uk-icon-check {
  color: #4c8600; }

.uk-icon-close {
  color: #b5050b; }

.before-arrow {
  width: 0.5%;
  height: 26px;
  display: inline-block;
  background: #e2e2e2;
  box-shadow: 3px 0 1px #aaaaaa;
  margin-right: -3px;
  margin-bottom: -2px; }

.arrow-body {
  width: 15%;
  height: 12px;
  display: inline-block;
  margin-right: -8px;
  margin-bottom: 4px;
  background: #666666;
  box-shadow: 1px 2px #a2a2a2; }

.arrow-head {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #666666;
  border-bottom: 10px solid transparent;
  box-shadow: 10px 20px 0 0 #a2a2a2 inset;
  -moz-box-shadow: 10px 20px 0 0 #a2a2a2 inset;
  -webkit-box-shadow: 10px 20px 0 0 #a2a2a2 inset; }

.colon-one {
  color: #464646;
  background: #cbcbcb;
  border-bottom-left-radius: 10px; }

.panel-offert {
  padding: 0 3% 0 3%; }

.head-box {
  background: dimgray;
  background: -webkit-linear-gradient(#a2a2a2, dimgray);
  background: -o-linear-gradient(#a2a2a2, dimgray);
  background: -moz-linear-gradient(#a2a2a2, dimgray);
  background: linear-gradient(#a2a2a2, dimgray); }

.silver:hover, .gold:hover, .premium:hover {
  box-shadow: 0px 0px 10px black;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
  background: white;
  border-radius: 10px; }

.silver:hover li, .gold:hover li, .premium:hover li {
  border-bottom: 1px solid #dadada; }

.silver, .gold, .premium {
  background: #e0e0e0; }

.silver:hover .my-button, .gold:hover .my-button, .premium:hover .my-button {
  background: #fa4024;
  background: -webkit-linear-gradient(#fa4024, #a3281d);
  background: -o-linear-gradient(#fa4024, #a3281d);
  background: -moz-linear-gradient(#fa4024, #a3281d);
  background: linear-gradient(#fa4024, #a3281d);
  box-shadow: 0 2px 0 #a6443b; }

.silver:hover .silver-box, .gold:hover .gold-box, .premium:hover .premium-box {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background: #19730f;
  background: -webkit-linear-gradient(#5db343, #19730f);
  background: -o-linear-gradient(#5db343, #19730f);
  background: -moz-linear-gradient(#5db343, #19730f);
  background: linear-gradient(#5db343, #19730f); }

.silver:hover .my-left, .premium:hover .my-left, .gold:hover .my-left, .silver:hover .my-right, .premium:hover .my-right, .gold:hover .my-right {
  display: block; }

.silver-box, .gold-box, .premium-box {
  background: #22538b;
  background: -webkit-linear-gradient(#22538b, #4a76a3);
  background: -o-linear-gradient(#22538b, #4a76a3);
  background: -moz-linear-gradient(#22538b, #4a76a3);
  background: linear-gradient(#22538b, #4a76a3); }

.head-box h2 {
  color: #e0e0e0; }

.my-button {
  border-radius: 20px;
  color: white;
  background: #393939;
  background: -webkit-linear-gradient(#686868, #393939);
  background: -o-linear-gradient(#686868, #393939);
  background: -moz-linear-gradient(#686868, #393939);
  background: linear-gradient(#686868, #393939);
  border: none;
  margin-right: 0;
  box-shadow: 0px 2px 0px #4c4c4c;
  font-family: Arial; }

.fl-box {
  display: inline-block;
  color: white;
  font-family: Arial; }

.my-left {
  background: -webkit-linear-gradient(to right top, white 48%, white 2%, #2b841d 50%);
  background: -o-linear-gradient(to right top, white 48%, white 2%, #2b841d 50%);
  background: -moz-linear-gradient(to right top, white 48%, white 2%, #2b841d 50%);
  background: linear-gradient(to right top, white 48%, white 2%, #2b841d 50%);
  display: none;
  padding-bottom: 1px; }

.my-right {
  background: -webkit-linear-gradient(to left top, white 48%, white 2%, #2b841d 50%);
  background: -o-linear-gradient(to left top, white 48%, white 2%, #2b841d 50%);
  background: -moz-linear-gradient(to left top, white 48%, white 2%, #2b841d 50%);
  background: linear-gradient(to left top, white 48%, white 2%, #2b841d 50%);
  display: none; }

.uk-icon-arrow-right {
  color: #666666;
  position: relative;
  text-shadow: 1px 2px #a2a2a2; }

.h3-silver, .h3-gold, .h3-premium {
  padding: 3% 0 0 0;
  color: white;
  margin: 0;
  font-family: Arial; }

.uk-icon-dollar {
  background: none;
  vertical-align: top;
  padding: 0; }

.preview-box h2 {
  margin: 0; }

.silver, .colon-one, .head-box {
  border-top-left-radius: 10px; }

.premium, .premium-box {
  border-top-right-radius: 10px; }

.premium {
  border-bottom-right-radius: 10px; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .silver, .colon-one, .head-box {
    border-top-right-radius: 10px; }

  .h3-silver, .h3-gold, .h3-premium {
    font-size: 14px; }

  .box-preview-first, .box-preview-second, .box-preview-third {
    margin: 15px 0 15px 0;
    border-right: none; }

  .my-br {
    display: none; }

  .my-tag {
    font-size: 18px; }

  .my-left, .my-right {
    padding-bottom: 2px; }

  section div.uk-navbar {
    height: 35px; }

  .small-tetx {
    left: 10%; }

  .before-footer {
    height: 90px; }

  .panel-bottom-first, .panel-bottom-third {
    border-right: 1px solid #d7d7d7; }

  .panel-bottom-second {
    border: none; }

  .logo-footer {
    width: 15%; }

  .slider-left {
    border-right: none; }

  .small-paper-text {
    font-size: 0.8em; }

  .uk-h5 {
    font-size: 0.9em; }

  .uk-text-small {
    font-size: 1em; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .before-footer {
    height: 90px; }

  .colon-one {
    border-bottom-left-radius: 0; }

  .premium {
    border-bottom-left-radius: 10px; }

  .box-preview-first, .box-preview-second, .box-preview-third {
    margin: 15px 0 15px 0;
    border-right: none; }

  .uk-offcanvas-bar {
    width: 140px; }

  .small-text {
    left: 14%; }

  .small-paper-text {
    font-size: 0.7em; }

  .uk-h5 {
    font-size: 0.8em; }

  .navigation {
    height: 35px; }

  .silver, .colon-one, .head-box {
    border-top-right-radius: 10px; }

  .colon-one {
    border-bottom-left-radius: 0; }

  .premium {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-top-right-radius: 0; }

  .premium-box {
    border-top-right-radius: 0;
    border-top-right-radius: 0; }

  .my-br {
    display: none; }

  .my-text {
    float: right;
    margin-right: 5%; }

  .uk-float-left {
    margin-left: 5%; }

  .panel-bottom-first, .panel-bottom-second, .panel-bottom-third {
    height: 45px; }

  .panel-bottom-second {
    border-right: none; } }
@media only screen and (max-width: 479px) {
  .before-footer {
    height: 180px; }

  .my-button {
    font-size: 1em; }

  .silver, .colon-one, .head-box {
    border-top-right-radius: 10px; }

  .colon-one {
    border-bottom-left-radius: 0; }

  .panel-bottom-first, .panel-bottom-second, .panel-bottom-third {
    border: none; }

  .panel-bottom-first, .panel-bottom-second, .panel-bottom-third, .panel-bottom-last {
    height: 45px; }

  .slider-right {
    margin: 0;
    padding: 0 0 0 10%; }

  .premium {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
    border-top-right-radius: 0; }

  .premium-box {
    border-top-right-radius: 0;
    border-top-right-radius: 0; }

  .box-preview-first, .box-preview-second, .box-preview-third {
    margin: 5px 0 5px 0;
    border-right: none; }

  .uk-offcanvas-bar {
    width: 100px; }

  .my-text {
    float: right;
    margin-right: 5%; }

  .uk-float-left {
    margin-left: 5%; }

  .h4-tournament {
    width: 90px; }

  .slider-left {
    border-right: none; }

  section div.uk-navbar {
    height: 35px; }
  section div .logo-top {
    max-width: 80px;
    width: 35px; }

  .small-paper-text {
    font-size: 0.8em; }

  .uk-h5 {
    font-size: 1.2em;
    margin-top: 5%; }

  .uk-sticky-placeholder {
    display: none; }

  .uk-text-small {
    font-size: 1em; }

  .small-text {
    left: 23%; } }

/*# sourceMappingURL=styles.css.map */
