body{
  margin: 0;
  padding: 0;
}
header,footer{
  background: blue;
}
.my-list{
  list-style-type: none;
}
.my-list li{
  display: inline;
}
.subart{
  display: none;
  margin:15px 0 15px 0;
}
.subcat{
  margin: 15px 0 0 0;
}
button.uk-button{
  background-color: blue;
}